@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #f5f7fb;
  color: #293264;
}

.up-right::before {
  content: "";
  position: fixed;
  right: 0;
  top: 0;
  background: #fffad1;
  transform: rotate(-128deg) translate(10%, 60%);
  border-radius: 40%;
  width: 300px;
  height: 230px;
}

.up-right::after {
  content: "";
  position: fixed;
  left: 0;
  bottom: 0;
  background: #deebf8;
  transform: translate(-30%, 40%);
  border-radius: 40%;
  width: 300px;
  height: 230px;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start h1 {
  font-family: "Karla";
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 7px;
  text-align: center;
}

.start h6 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 29px;
  text-align: center;
}

.start button {
  padding: 15px;
  border: none;
  border-radius: 6px;
  background-color: #4d5b9e;
  font-family: "Inter";
  font-weight: 500;
  font-size: 2rem;
  color: #f5f7fb;
  cursor: pointer;
}

.box {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.line {
  border-top: 1px solid #DBDEF0;
  max-width: 800px;
  margin-bottom: 15px;
}

.question h3 {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.answers button {
  padding: 4px 15px;
  margin-right: 13px;
  margin-bottom: 15px;
  border: 1px solid #4D5B9E;;
  border-radius: 6px;
  background-color: #F5F7FB;
  font-family: "Inter";
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

.answers button.is-held {
  background-color: #94D7A2;
  border-color: #94D7A2;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container button{
  font-family: 'Inter';
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  color: #F5F7FB;
  background-color: #4D5B9E;
  border: none;
  border-radius: 10px;
  padding: 15px 25px;
  cursor: pointer;
}

.button-container button:active, .start button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.play-again {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.play-again h3 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .up-right::before, .up-right::after {
    display: none;
  }

  .start::before {
    content: "";
    position: fixed;
    right: 0;
    top: 0;
    background: #fffad1;
    transform: rotate(-128deg) translate(10%, 60%);
    border-radius: 40%;
    width: 300px;
    height: 230px;
  }
  
  .start::after {
    content: "";
    position: fixed;
    left: 0;
    bottom: 0;
    background: #deebf8;
    transform: translate(-30%, 40%);
    border-radius: 40%;
    width: 300px;
    height: 230px;
  }

  .question h3 {
    font-size: 1rem;
  }

  .answers button {
    font-size: 0.7rem;
    margin: 0 5px 5px 0;
  }

  .play-again h3 {
    font-size: 1rem;
  }

  .button-container button {
    padding: 10px 20px;
    font-size: 0.7rem;
  }
}